* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burger-menu {
  width: 100vw;
  background-color: aqua;
}
.element1 {
  background-color: rgb(76, 205, 214);
  width: 150px;
  border-radius: 10px;
}
